@charset "UTF-8";

@import "main.css";

.container {
 border-left:0px dotted #000;
 border-right:0px dotted #000;
}

#header {
 color: #990000; /* Red */
 background-repeat:no-repeat;
 margin-top:0px;
 
}

 /* Red */
#filter {color:#CC9933;} /* Gold */

#footer {
  color:#A2A2A2;
  border-top: 1px solid #9BDBE6;
  border-bottom: 3px solid #000; /* Gold */
/*  background-image:url('../../images/header.png'); */
}

#footer a {
  color:#0366a5;
}

/* Style for displaying Deposit License Agreement, etc. in nice scrollable div */
.scrollarea {
    width: 550px;
    height: 250px;
    overflow: scroll;
}

li {
  list-style:none;
  
}

#portal-colophon li a {
color: #0366a5;
border-right: 1px solid #7B786A;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #7B786A;
float:left;
font-size:.8em;


}

#portal-colophon {

    float: left;
    margin-left: 642px;
    margin-top: 20px;
    position: absolute;
    width: 325px;
}
#search_box {
  background-image:none;
  color:white;
  background-color:#0366a5;
  padding:2px 8px 2px 8px;
  border:none;
  
}
